<!DOCTYPE html>
<html>
  <head>
    <title>パスワード再発行</title>
  </head>
  <body>
    <div>
      <form action="/password/reset" method="POST">
        <h2>パスワード再発行</h2>
        <p>
          以下のフォームにメールアドレスを入力し、パスワード再発行用のリンクを受け取ってください
        </p>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div>
          <label for="email">メールアドレス:</label>
          <input
            name="email"
            type="text"
            id="email"
            placeholder="Email"
            autofocus="true"
          />
        </div>
        <button type="submit">送信</button>
      </form>
    </div>
  </body>
</html>
