<!DOCTYPE html>
<html>
  <head>
    <title>パスワード変更</title>
  </head>
  <body>
    <div>
      <form action="/password/reset" method="POST">
        <h2>パスワードを変更</h2>
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />

        <div>
          <label for="password">パスワード:</label>
          <input
            name="password"
            type="password"
            id="password"
            placeholder="Password"
          />
        </div>
        <div>
          <label for="passwordConfirm">パスワード（確認）:</label>
          <input
            name="confirm"
            type="password"
            id="confirm"
            placeholder="Password confirm"
          />
        </div>
        <button type="submit">パスワードを変更する</button>
      </form>
    </div>
  </body>
</html>
