<!DOCTYPE html>
<html>
  <head>
    <title>メールを送信しました</title>
  </head>
  <body>
    <div>
      <h2>メールを送信しました</h2>
      <p>
        登録されているメールアドレスにパスワード再設定用のURLを送信しました。
      </p>
    </div>
  </body>
</html>
